# See https://help.github.com/ignore-files/ for more about ignoring files.

# example library
/examples/webapp-library/webapp-library/index.js
/examples/webapp-library/webapp-library/apis
/examples/webapp-library/webapp-library/LibType1
/examples/webapp-library/webapp-library/LibType2
/examples/webapp-library/webapp-library/node_modules

# dependencies
/node_modules

# testing
/coverage

# website docs
/docs/html

# build outputs
/lib

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
