# dependencies
/node_modules

# non-transpiled source
/src

# teststuff
/coverage
/lib/__tests__

# website docs
/docs

# example apps
/examples

# misc
babel.config.js
_config.yml
.markdownlint.json
.eslintignore
.eslintrc.json
.env.local
.env.development.local
.env.test.local
.env.production.local
.prettierrc.json
yarn-debug.log*
yarn-error.log*
yarn.lock
